@charset "UTF-8";
section#adminMainMenu{
	display:flex;
	flex-direction:row;
	width:1366px;
}

aside#sideBar{
	display:flex;
	flex-direction:column;
	width:250px;
	height:920px;
	margin-left:15px;
	padding-top:60px;
	border-right:1px solid black;
}

div.side{
	display:flex;
	flex-direction:column;
	margin-bottom:15px;
}

div.side>h2{
	margin:5px;
}

div.side>hr{
	margin:5px;
}

div.side>a{
	color:black;
	margin-top:6px;
	text-decoration:none;
}

div.side>a:hover{
	color:blue;
}