@charset "UTF-8";
/* header 영역 설정 */
*{
	font-family:'Noto Sans KR', sans-serif;
}
div#headerMargin{
	display:inline-block;
	position:static;
	width:1366px;
	height:65px;
}
div#headerMenuBar {
    position: fixed;
    width:1366px;
    height:70px;
    background-color:#000000;
    z-index:1000;
    display:flex;
    flex-direction: row;
    justify-content:center;
	align-items:center;
    height:70px;
    padding-top:8px;
    padding-left:170px;
    padding-bottom:8px;
    color:white;
}
header ul#headerDefault{
    display:flex;
    flex-direction:row;
    list-style-type:none;
    padding-top:25px;
    padding-left:385px;
    margin-bottom:25px;
    color:white;
}
header a{
	color:white;
    text-decoration:none;
    font-size: 16px;
}
header ul#headerDefault>li:nth-of-type(1){
	width:100px;
	height:30px;
    display:flex;
    flex-direction:row;
    margin-right:60px;
}
header ul#headerDefault>li:nth-of-type(2){
	width:100px;
	height:30px;
    display:flex;
    flex-direction:row;
    margin-right:101px;
}

header ul#headerUnlogin{
	display:flex;
    flex-direction:row;
    list-style-type:none;
    padding-top:25px;
    padding-left:30px;
    margin-bottom:25px;
}

header ul#headerUnlogin>li:nth-of-type(1){
	display:flex;
    flex-direction:row;
	width:100px;
	height:30px;
    margin-right:41px;
}

header ul#headerUnlogin>li:nth-of-type(2){
	display:flex;
    flex-direction:row;
	width:100px;
	height:30px;
    margin-right:40px;
}

header ul#headerlogin{
	display:flex;
    flex-direction:row;
    list-style-type:none;
    padding-top:25px;
    padding-left:30px;
    margin-bottom:25px;
}

header ul#headerlogin>li>p{
	margin:0px;
}

header ul#headerlogin>li:nth-of-type(1){
	display:flex;
    flex-direction:row;
    margin-right:10px;
}

header ul#headerlogin>li:nth-of-type(2){
	display:flex;
    flex-direction:row;
    margin-right:70px;
}

header ul#headerlogin>li:nth-of-type(3){
	display:flex;
    flex-direction:row;
    margin-right:25px;
}


/* footer 영역 설정 */
footer {
    width: 1366px; /* 원래 가로사이즈는 1366px */
    height: 249px;
    font-size:17px;
    background-color: black;
    color: white;
    overflow:hidden;
}

div#footerBox{
    padding-top:115px;
    padding-left:171px;
}

footer pre{
    display:inline;
    font-size:20px;
    font-weight:900;
}
footer p{
    display:inline;
    word-spacing: 0px;
}

div#ServiceCenter{
    display:inline;
    padding-left:672px;
}
footer a {
    display: inline;
    text-decoration: none;
    color: white;
}
footer a:hover{
    color:blue;
}


