@charset "UTF-8";

body{
	margin-bottom:0px;
	font-family: 'Noto Sans KR', sans-serif;
}

/* 회원가입 css 설정 */
article {
    width: 1366px;
    margin: 0 auto;
}


/* 회원가입 */
/* 회원가입 폰트 설정 */
section > h1 {
    width: 100%;
   	font-weight: 100;
    height: 70px;
    text-align: center;
}

/* ---------- */

/* 회원가입 테이블 설정 */
table#enrollTB {
    border-radius: 5px; /* 테두리 둥글게 */
    margin: 0 auto; /*가운데로 정렬*/
    
    
    background-color: #f0f0f0;
    
    /* 영역 설정 */
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 150px;  
    
    width: 900px;
}

tr.tr-blank {
	border: 1px solid;
}

/* 테이블 내 첫번째 td 설정 */
table#enrollTB tr >td:first-child {
	font-size : 14px;
    width: 250px;
    text-align: right;
}

/* 회원가입 테이블 내 td 설정 */
tr.tr-blank td{
    padding-bottom: 10px; /* 각 td의 아래 여백 설정 */
}
/* 테이블 내 2번째 td의 좌측 여백 설정 */
tr.tr-blank > td.second-td     {
    padding-left: 10%;
}


/* input 태그 설정 */
td.second-td input {
    /* 높이설정 */
    height: 30px;
    
    /* 태그 내 글씨 위치설정 */
    line-height: 20px;
    /* 테두리설정 */
    border-radius: 5px;
    border: 1px solid rgb(182, 182, 182);
}
input#phone {
	line-height: 20px;
	width: 175px;
}

input#email{
	
	width: 175px;
}
/* select 태그 설정 */
/* td.second-td select {
    height: 30px;
} */

/* 이메일 선택하는 td 설정 */

/* 이메일 선택하는 select 설정 */
select#email {
	/* 길이설정 */
	width: 175px;
	/* 높이설정 */
    height: 30px;
	/* 테두리설정 */
    border-radius: 5px;
    border: 1px solid rgb(182, 182, 182);
}
/* 우편번호, 지번주소, 도로명주소, 상세주소입력 input 설정 */
input#postNum,
input#streetAddress,
input#jibunAddress,
input#addressInput,
input#accountName,
input#account,
input#certiName,
input#certiAgency,
input#certiday,
input#expireday {
	width: 175px;
	line-height: 20px;
	padding-left: 10px;
}




/* 메세지영역 설정 */
td.div-msg {
    /* 원래는 안 보이게 한다 */
    display: none;
    
    padding-left: 10%;
    font-size: 13px;
    color: rgb(138, 0, 0);
}

/* ---------- */

/* 체크하는 버튼 3개 설정 */
button#check-btn {
    padding: 7px 15px;
    
    border: 1px solid #ffcc33;
    border-radius: 25px;
    
    color: #ffcc33;
    background-color: white;
}
/* 체크하는 버튼 3개에 마우스를 올렸을 때 포인터 설정 */
button#check-btn:hover {
    cursor: pointer;
    background-color: #ffcc33;
    color: white;
}












/* submit(완료) 버튼 설정 */
button#enroll-btn {
    /* 버튼 크기, 테두리 설정 */
    padding: 10px 60px;
    margin-left: 610px;

    background-color: black; /* 버튼 배경 */
    border-radius:25px; /* 버튼을 둥글게! */
    border: 0; /* 박스 선 없애기! */
    font-size: large; /* 폰트 사이즈 */
    color: white; /* 폰트 컬러 */
}
/* submit(완료) 버튼에 마우스를 올렸을 때 마우스 포인터 설정 */
button#enroll-btn:hover {
    cursor: pointer;
    background-color: rgb(98, 98, 98);
}